@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:host {
    
    font-family: 'Raleway', sans-serif;
}
:host h1 {
    font-weight: 400;
}

p {
    text-decoration: underline;
}